$color1: #494d7e;
$color2: #8b6d9c;
$color3: #fbf5ef;

.home {
  .title_wrapper {
    @apply flex justify-center;
  }

  .glitch {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #c69fa5 ;
    text-shadow: 0.05em 0 0 $color1, -0.03em -0.04em 0 $color2,
    0.025em 0.04em 0 $color3;
    animation: glitch 925ms infinite;
  }

  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }

  .glitch span:first-child {
    animation: glitch 700ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }

  .glitch span:last-child {
    animation: glitch 575ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }

  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 $color1, -0.03em -0.04em 0 $color2,
      0.025em 0.04em 0 $color3;
    }
    15% {
      text-shadow: 0.05em 0 0 $color1, -0.03em -0.04em 0 $color2,
      0.025em 0.04em 0 $color3;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 $color1, 0.025em 0.035em 0 $color2,
      -0.05em -0.05em 0 $color3;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 $color1, 0.025em 0.035em 0 $color2,
      -0.05em -0.05em 0 $color3;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 $color1, 0.03em 0 0 $color2,
      0 -0.04em 0 $color3;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 $color1, 0.03em 0 0 $color2,
      0 -0.04em 0 $color3;
    }
    100% {
      text-shadow: -0.05em 0 0 $color1, -0.025em -0.04em 0 $color2,
      -0.04em -0.025em 0 $color3;
    }
  }
}